.main {
	width: var(--content-width);
}

/* lineout is referenced at .strip in utils.css */
.lineout, fieldset {
	border: 2px solid var(--color-secondary);
	transition: box-shadow .2s ease, border-color .2s ease;
	padding: var(--dims-smol);
	border-radius: var(--dims-smol);
}
.lineout:hover, .lineout:focus, fieldset:has(*:focus), fieldset:hover {
	border-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
	outline: none;
}
.lineout:active {
	border-color: var(--color-base);
}

.ghost {
	min-width: 3ch;
	border-radius: var(--dims-smol);
	transition: all .2s ease;
}
.ghost:hover {
	background-color: var(--color-accent);
	color: var(--color-base);
}
.ghost:active {
	background-color: var(--color-secondary);
}

button.lineout, .pointer {
	cursor: pointer;
}

.placeholder {
	border: 2px solid var(--color-accent);
	color: var(--color-accent);
	padding: var(--dims-smol);
	border-radius: var(--dims-smol);
}

.hint {
	font: var(--font-smol);
	color: var(--color-secondary);
}

fieldset {
	margin: 0;
	box-shadow: none !important;
}
fieldset > legend {
	color: var(--color-secondary);
	transition: color .2s;
	padding-left: var(--dims-smol);
	padding-right: var(--dims-smol);
}
fieldset:has(*:focus) > legend, fieldset:hover > legend {
	color: var(--color-text);
}

.image-picker-clear {
	position: absolute;
	bottom: var(--dims-smol);
	right:  var(--dims-smol);
	background-color: var(--color-base-semi);
	backdrop-filter: blur(64px);
}

.topbar {
	padding: var(--dims-huge);
	position: sticky;
	top: 0;
	background-color: var(--color-base);
	z-index: 2;
}

.main-chats-item > img {
	width: 32%;
	border-radius: var(--dims-smol);
}

summary.settings-label {
	font: var(--font-bold);
	width: fit-content;
	border-bottom: 2px solid var(--color-accent);
}
#settings-persona-picture {
	overflow: hidden;
	padding: 0;
	width: 40%;
	flex-shrink: 0;
}
#settings-persona-picture img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: var(--dims-smol);
}
.settings-persona-item img {
	/* max-width: 30%; */
	height: 5em;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: var(--dims-smol);
}
.settings-persona-item-main {
	flex-grow: 1;
}
.settings-persona-item h6 {
	font: var(--font-bold);
	flex-grow: 1;
	align-self: center;
}
.settings-persona-item div {
	white-space: pre-wrap;
}

.settings-engine-item {
	padding-inline-start: var(--dims-reg);
	align-items: center;
	justify-content: space-between;
}

.settings-theme-selector-button {
	width: 128px;
	border: 2px solid var(--color-secondary);
	border-radius: var(--dims-smol);
	cursor: pointer;
}

.scenario-pictures {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--dims-reg);
}
#scenario-messages-clicker {
	justify-content: center;
	align-items: center;
}
#scenario-messages-clicker > button {
	min-width: 2em;
}

.scenario-card {
	display: flex;
	gap: var(--dims-reg);
	/* height: fit-content; */
}
.scenario-card img {
	flex-shrink: 0;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: var(--dims-smol);
}
.scenario-card > div {
	flex-grow: 1;
}
.scenario-card h6 {
	font: var(--font-bold);
	flex-grow: 1;
}
.scenario-card .row-compact {
	align-items: center;
}
.scenario-card-description {
	overflow: hidden;
	max-height: 7em;
}
.scenario-card-tags {
	display: flex;
	flex-flow: row-reverse wrap;
	margin-top: auto;
	gap: var(--dims-smol);
}
.scenario-card-tags > span {
	background-color: var(--color-secondary);
	transition: background-color .2s ease;
	padding-inline: var(--dims-reg);
	padding-block: var(--dims-smol);
	border-radius: var(--dims-smol);
}
.scenario-card-tags > span:hover {
	background-color: var(--color-accent);
}

.chat-layout {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
}
.chat-top {
	padding: var(--dims-smol);
}
.chat-engine-control {
	align-items: center;
	margin-inline-start: auto;
}
.chat-scroll-container {
	overflow-x: visible;
	overflow-y: auto;
	scrollbar-width: thin;
	display: flex;
	flex-flow: column nowrap;
	gap: var(--dims-huge);
	padding-block: var(--dims-huge);
	padding-bottom: var(--dims-huge);
}
.chat-low {
	--send-size: 42px;
	display: grid;
	grid-template-columns: auto var(--send-size);
	padding: var(--dims-smol);
	padding-bottom: var(--dims-reg);
	gap: var(--dims-smol);
	align-items: end;
}
.chat-low textarea {
	resize: none;
	max-height: min(40vh, 8em);
}
.chat-send {
	margin-top: auto;
	margin-bottom: var(--dims-smol);
	cursor: pointer;
	border-radius: var(--dims-smol);
	width: var(--send-size);
	height: var(--send-size);
	transition: box-shadow .2s ease, background-color .2s ease;
	color: var(--color-text);
}
.chat-send:hover, .chat-send:focus {
	background-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
}
.chat-send:active {
	background-color: var(--color-base);
	box-shadow: 0 0 var(--dims-smol) var(--color-base);
}

.message {
	--profile-pictire-size: 64px;
	display: grid;
	grid-template-columns: var(--profile-pictire-size) auto;
	gap: var(--dims-reg);
}

.message > img {
	object-fit: cover;
	width: var(--profile-pictire-size);
	height: var(--profile-pictire-size);
	border-radius: var(--dims-reg);
}
.message-name {
	font: var(--font-bold);
	margin-bottom: var(--dims-smol);
	margin-inline-end: auto;
}
.message-status {
	color: var(--color-subtext);
}
.message-text[contenteditable] {
	/* width: 95%; */
	white-space: pre-wrap;
	border: 2px solid var(--color-accent);
	border-radius: var(--dims-smol);
}
.message-text:focus {
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
	outline: none;
}
.message .row-compact {
	align-items: center;
}
