.main {
	width: var(--content-width);
}

/* lineout is referenced at .strip in utils.css */
.lineout {
	border: 2px solid var(--color-secondary);
	transition: box-shadow .2s ease, border-color .2s ease;
	padding: var(--dims-smol);
	border-radius: var(--dims-smol);
	cursor: pointer;
}
.lineout:hover, .lineout:focus {
	border-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
	outline: none;
}
.lineout:active {
	border-color: var(--color-base);
}

.placeholder {
	width: fit-content;
	padding: 2em;
	border-radius: var(--dims-smol);
	color: var(--color-base);
	background-color: var(--color-secondary);
}

.settings-theme-selector-button {
	width: 128px;
	border: 2px solid var(--color-secondary);
	border-radius: var(--dims-smol);
	cursor: pointer;
}

.chat-layout {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
}
.chat-top {
	padding: var(--dims-smol);
}
.chat-scroll-container {
	overflow-y: auto;
	scrollbar-width: thin;
	display: flex;
	flex-flow: column-reverse nowrap;
	gap: var(--dims-huge);
	padding-block: var(--dims-huge);
}
.chat-low {
	--send-size: 42px;
	display: grid;
	grid-template-columns: auto var(--send-size);
	padding: var(--dims-smol);
	gap: var(--dims-smol);
}
.chat-low textarea {
	resize: none;
	max-height: min(40vh, 8em);
}
.chat-send {
	margin-top: auto;
	margin-bottom: var(--dims-smol);
	cursor: pointer;
	border-radius: var(--dims-smol);
	width: var(--send-size);
	height: var(--send-size);
	transition: box-shadow .2s ease, background-color .2s ease;
}
.chat-send:hover, .chat-send:focus {
	background-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
}
.chat-send:active {
	background-color: var(--color-base);
	box-shadow: 0 0 var(--dims-smol) var(--color-base);
}

.message {
	--profile-pictire-size: 64px;
	display: grid;
	grid-template-columns: var(--profile-pictire-size) auto;
	gap: var(--dims-reg);
}

.message > img {
	object-fit: contain;
	width: var(--profile-pictire-size);
	height: var(--profile-pictire-size);
	border-radius: var(--dims-reg);
}
.message-name {
	font: var(--font-bold);
	margin-bottom: var(--dims-smol);
}
