.main {
	width: var(--content-width);
}

/* lineout is referenced at .strip in utils.css */
.lineout, fieldset {
	border: 2px solid var(--color-secondary);
	transition: box-shadow .2s ease, border-color .2s ease;
	padding: var(--dims-smol);
	border-radius: var(--dims-smol);
}
.lineout:hover, .lineout:focus, fieldset:has(*:focus), fieldset:hover {
	border-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
	outline: none;
}
.lineout:active {
	border-color: var(--color-base);
}

button.lineout, .pointer {
	cursor: pointer;
}

.placeholder {
	border: 2px solid var(--color-accent);
	color: var(--color-accent);
	padding: var(--dims-smol);
	border-radius: var(--dims-smol);
}

.hint {
	font: var(--font-smol);
	color: var(--color-secondary);
}

fieldset {
	margin: 0;
	box-shadow: none !important;
}
fieldset > legend {
	color: var(--color-secondary);
	transition: color .2s;
	padding-left: var(--dims-smol);
	padding-right: var(--dims-smol);
}
fieldset:has(*:focus) > legend, fieldset:hover > legend {
	color: var(--color-text);
}

#settings-persona-picture {
	overflow: hidden;
	padding: 0;
	width: 40%;
	flex-shrink: 0;
}
#settings-persona-picture img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: var(--dims-smol);
}
.settings-persona-item img {
	/* max-width: 30%; */
	height: 5em;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: var(--dims-smol);
}
.settings-persona-item-main {
	flex-grow: 1;
}
.settings-persona-item h6 {
	font: var(--font-bold);
	flex-grow: 1;
	align-self: center;
}
.settings-persona-item div {
	white-space: pre-wrap;
}

.settings-engine-item {
	align-items: center;
}
.settings-engine-item > button {
	margin-inline-start: auto;
}

.settings-theme-selector-button {
	width: 128px;
	border: 2px solid var(--color-secondary);
	border-radius: var(--dims-smol);
	cursor: pointer;
}

.scenario-pictures {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--dims-reg);
}
#scenario-messages-clicker {
	justify-content: center;
	align-items: center;
}
#scenario-messages-clicker > button {
	min-width: 2em;
}

.chat-layout {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
}
.chat-top {
	padding: var(--dims-smol);
}
.chat-scroll-container {
	overflow-y: auto;
	scrollbar-width: thin;
	display: flex;
	flex-flow: column-reverse nowrap;
	gap: var(--dims-huge);
	padding-block: var(--dims-huge);
}
.chat-low {
	--send-size: 42px;
	display: grid;
	grid-template-columns: auto var(--send-size);
	padding: var(--dims-smol);
	gap: var(--dims-smol);
}
.chat-low textarea {
	resize: none;
	max-height: min(40vh, 8em);
}
.chat-send {
	margin-top: auto;
	margin-bottom: var(--dims-smol);
	cursor: pointer;
	border-radius: var(--dims-smol);
	width: var(--send-size);
	height: var(--send-size);
	transition: box-shadow .2s ease, background-color .2s ease;
	color: var(--color-text);
}
.chat-send:hover, .chat-send:focus {
	background-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
}
.chat-send:active {
	background-color: var(--color-base);
	box-shadow: 0 0 var(--dims-smol) var(--color-base);
}

.message {
	--profile-pictire-size: 64px;
	display: grid;
	grid-template-columns: var(--profile-pictire-size) auto;
	gap: var(--dims-reg);
}

.message > img {
	object-fit: cover;
	width: var(--profile-pictire-size);
	height: var(--profile-pictire-size);
	border-radius: var(--dims-reg);
}
.message-name {
	font: var(--font-bold);
	margin-bottom: var(--dims-smol);
}
