@font-face{
	font-family: "Ubuntu Sans";
	src: url("./ubuntu-sans.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu Sans";
	src: url("./ubuntu-sans-italic.ttf") format("truetype");
	font-style: italic;
}

@media screen and (min-aspect-ratio: 1.2) {
	:root {
		--content-width: calc(min(120vh, 50vw) - var(--min-content-pad));
	}

	.grid-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		padding: var(--dims-huge);
		gap: var(--dims-reg);
	}
	.scenario-card {
		flex-flow: column nowrap;
	}
	.scenario-card img {
		width: 100%;
	}
}

@media screen and (max-aspect-ratio: 1.2) {
	:root {
		--content-width: calc(100vw - var(--min-content-pad));
	}

	.grid-list {
		display: flex;
		flex-flow: column nowrap;
		padding: var(--dims-huge);
		gap: var(--dims-reg);
	}
	.scenario-card {
		flex-flow: row nowrap;
	}
	.scenario-card img {
		width: 20%;
	}
}

:root {
	color-scheme: only dark;

	--color-base: #171717;
	--color-base-semi: rgb(23 23 23 / 70%);
	--color-secondary: #444444;
	--color-accent: #DA0037;
	--color-text: #EDEDED;
	--color-subtext: #808080;

	--font-smol: normal 400 14px/18px "Ubuntu Sans";
	--font-main: normal 400 18px/22px "Ubuntu Sans";
	--font-bold: normal 600 20px/24px "Ubuntu Sans";

	--dims-smol:  4px;
	--dims-reg:   8px;
	--dims-huge: 16px;

	--min-content-pad: min(32px, 2vw);

	background-color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font: var(--font-main);
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	border: none;
	overflow: auto;
	overflow-x: hidden;
}

body {
	width: 100%;
	height: 100svh;
	background-color: var(--color-base);
	color: var(--color-text);
}

a, a:visited {
	color: var(--color-accent);
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1em;
}

img {
	display: block;
	max-width: 100%;
}

hr {
	width: 100%;
}

p {
	margin: 0;
}

ul, ol {
	padding: 0;
	list-style-type: none;
}

textarea {
	resize: vertical;
	max-height: 50vh;
}

dialog {
	width: 100%;
	height: auto;
	max-width: none;
	max-height: none;
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
	backdrop-filter: blur(3px);
	outline: none;
	color: inherit;
}
dialog > form {
	display: flex;
	margin: auto;
	width: var(--content-width);
	/* min-width: 80vw; */
	max-height: 80vh;
	overflow-y: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	flex-flow: column nowrap;
	background: var(--color-base);
	border-radius: var(--dims-reg);
	padding: var(--dims-reg);
	gap: var(--dims-smol);

	border: 2px solid var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
}

details > div {
	padding: var(--dims-reg);
}
summary {
	cursor: pointer;
}

input {
	min-width: unset;
}

dl {
	margin: 0;
}
