
.md {
	word-break: break-word;
}

.md em {
	color: var(--color-subtext);
	font-style: italic;
}

.md p:not(:first-child) {
	padding-top: .42em;
}

.md p {
	white-space: pre-wrap;
}

.md think {
	opacity: .6;
}
