
.md {
	word-break: break-word;
}

.md em {
	color: var(--color-subtext);
	font-style: italic;
}

.md p:not(:first-child) {
	padding-top: .42em;
}

.md p {
	white-space: pre-wrap;
}

.md img {
	max-width: 80%;
	max-height: 120vh;
	border-radius: var(--dims-reg);
	margin-block: 1em;
}
.md img:hover {
	box-shadow: 0 0 var(--dims-reg) var(--color-accent);
}

.md think {
	opacity: .6;
}
