
.lineout, .strip {
	appearance: none;
	color: inherit;
	background: none;
	font: inherit;
	outline: inherit;
	border: none;
}

.pad {
	padding: var(--dims-huge);
}
.col, .row, .col-wrap, .row-wrap {
	display: flex;
	gap: var(--dims-huge);
}
.col {
	flex-flow: column nowrap;
}
.col-wrap {
	flex-flow: column wrap;
}
.row {
	flex-flow: row nowrap;
}
.row-wrap {
	flex-flow: row wrap;
	gap: var(--dims-smol);
}
.list {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--dims-smol);
}
.row-compact {
	display: flex;
	flex-flow: row nowrap;
	gap: var(--dims-smol);
}

.float-center {
	margin-inline: auto;
}
.float-end {
	margin-inline-start: auto;
}

.shadow {
	box-shadow: 0 0 8px black;
}

.virtual {
	display: contents;
}

.wide {
	width: 100%;
}
.fit {
	width: fit-content;
}
.content-wide {
	width: var(--content-width);
}

.center-text {
	text-align: center;
}
