.main {
	width: var(--content-width);
}

/* lineout is referenced at .strip in utils.css */
.lineout {
	border: 2px solid var(--color-secondary);
	transition: box-shadow .2s ease, border-color .2s ease;
	padding: var(--dims-smol);
	border-radius: var(--dims-smol);
	cursor: pointer;
}
.lineout:hover, .lineout:focus {
	border-color: var(--color-accent);
	box-shadow: 0 0 var(--dims-smol) var(--color-accent);
	outline: none;
}
.lineout:active {
	border-color: var(--color-base);
}

.placeholder {
	width: fit-content;
	padding: 2em;
	border-radius: var(--dims-smol);
	color: var(--color-base);
	background-color: var(--color-secondary);
}

.settings-theme-selector-button {
	width: 128px;
	border: 2px solid var(--color-secondary);
	border-radius: var(--dims-smol);
	cursor: pointer;
}

.chat-layout {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
}
.chat-scroll-container {
	overflow-y: auto;
}