
.strip-defaults {
	appearance: none;
	color: inherit;
	background: none;
	font: inherit;
	outline: inherit;
	border: none;
}

.col, .row, .col-wrap {
	padding: var(--dims-reg);
	display: flex;
	gap: var(--dims-reg);
}
.col {
	flex-flow: column nowrap;
}
.col-wrap {
	flex-flow: column wrap;
}
.row {
	flex-flow: row nowrap;
}

.float-center {
	margin-inline: auto;
}
.float-end {
	margin-inline-start: auto;
}

.shadow {
	box-shadow: 4px 4px 4px rgba(32, 0, 0, 0.2);
}

.virtual {
	display: contents;
}

.wide {
	width: 100%;
}
