
.lineout, .strip {
	appearance: none;
	color: inherit;
	background: none;
	font: inherit;
	outline: inherit;
	border: none;
}

.pad {
	padding: var(--dims-huge);
}
.col, .row, .col-wrap, .row-wrap {
	display: flex;
	gap: var(--dims-huge);
}
.col {
	flex-flow: column nowrap;
}
.col-wrap {
	flex-flow: column wrap;
}
.row {
	flex-flow: row nowrap;
}
.row-wrap {
	flex-flow: row wrap;
}
.list {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--dims-smol);
}

.float-center {
	margin-inline: auto;
}
.float-end {
	margin-inline-start: auto;
}

.shadow {
	box-shadow: 4px 4px 4px rgba(32, 0, 0, 0.2);
}

.virtual {
	display: contents;
}

.wide {
	width: 100%;
}
.fit {
	width: fit-content;
}
